.sidebar{
    background-color: #161616;
    width: 100px;
    height: 100%;
    min-height: 500px;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fonts{
    border-color:#FDC830 ;
    color: gray;
    display: flex;
    margin-top: 20%;
    margin-bottom: 20%;
    cursor: pointer;
}
.active {
    color: #FDC830 !important; /* Change font color to yellow */
}